/*font-family: "Roboto",sans-serif;
 font-family: "Raleway",sans-serif; */
body {
   font-family: "Roboto", sans-serif;
   color: #434455;
   background-color: #fff
}

ul,
ol {
   list-style-type: none;
   margin: 0;
   padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
   margin: 0;
}

a {
   text-decoration: none;
}

.container {
   max-width: 1158px;
   padding: 0 15px;
   margin: 0 auto;
}

.visually-hidden {
   position: absolute;
   width: 1px;
   height: 1px;
   margin: -1px;
   border: 0;
   padding: 0;
   white-space: nowrap;
   clip-path: inset(100%);
   clip: rect(0 0 0 0);
   overflow: hidden;
}

.header {
   border-bottom: 1px solid #e7e9fc;
}

.header-container {
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.header-nav {
   display: flex;
   align-items: center;
}

.header-logo {
   padding: 24px 0;
   margin-right: 76px;
}

.list-header {
   display: flex;
   align-items: center;
   gap: 40px;
}


.address-ul {
   display: flex;
   align-items: center;
}

.header-logo {
   font-family: "Raleway", sans-serif;
   font-weight: 700;
   font-size: 18px;
   line-height: 1.17;
   letter-spacing: 0.03em;
   text-transform: uppercase;
   color: #4d5ae5;
}

.header-logo .logo-part {
   color: #2e2f42;
}

.address-ul {
   display: flex;
   align-items: center;
   gap: 40px;
}

.list-link {
   display: block;
   padding: 24px 0;
   font-weight: 500;
   font-size: 16px;
   line-height: 1.5;
   letter-spacing: 0.02em;
   color: #2e2f42;
}

.list-link:hover,
.list-link:focus {
   color: #404bbf;
}

.address-body {
   font-style: normal;
   margin-left: auto;
}

.address-link {
   display: block;
   padding: 24px 0;
   font-size: 16px;
   line-height: 1.5;
   letter-spacing: 0.02em;
   color: #434455;
}

.address-link:hover,
.address-link:focus {
   color: #404bbf;
}

.hero-centr {
   font-family: "Roboto", sans-serif;
   font-weight: 700;
   font-size: 56px;
   line-height: 1.07;
   letter-spacing: 0.02em;
   text-align: center;
   margin-bottom: 48px;
   color: #fff;
   margin: 0 auto;
   max-width: 496px;
}

.hero-centr {
   display: block;
   padding-bottom: 48px;
}

.hero {
   padding: 188px 0;
   background: #2e2f42;
   text-align: center;
}

   .btn {
         display: inline-block;
         border: none;
         border-radius: 4px;
         background: #4d5ae5;
         color: #fff;
         cursor: pointer;
         font-weight: 500;
            line-height: 1.5;
            letter-spacing: 0.04em;
        
         
}

.btn {
   border-radius: 4px;
   display: block;
   margin: 0 auto;
   width: 169px;
   height: 56px;
   background: #4d5ae5;
   
}

.btn:hover,
.btn:focus {
   background-color: #404bbf;
}

.features-item {
   display: none;
}

.features {
   padding: 120px 0;
}

.ul-list {
   display: flex;
   gap: 24px;
   margin: 0;  
}

.features-list {
   width: 264px;
   display: flex;
   flex-direction: column;
}

.features-titel {
   font-weight: 500;
   font-size: 20px;
   line-height: 1.2;
   letter-spacing: 0.02em;
   color: #2e2f42;
   margin-bottom: 8px;
}

.features-list {
   font-weight: 400;
   font-size: 16px;
   line-height: 1.5;
   letter-spacing: 0.02em;
   color: #434455;
}

.footer-position {
   font-weight: 400;
   font-size: 16px;
   line-height: 1.5;
   letter-spacing: 0.02em;
   color: #434455;
}


.team-titel {
  padding: 72px;
   font-weight: 700;
   font-size: 36px;
   line-height: 1.11111;
   letter-spacing: 0.02em;
   text-align: center;
   color: #2e2f42;
}

.team-list {
   display: flex;
   gap: 24px;
}

.team {
   padding: 120px 0;
   background: #f4f4fd;
}



.team-name {
   font-weight: 500;
   font-size: 20px;
   line-height: 1.2;
   letter-spacing: 0.02em;
   text-align: center;
   color: #2e2f42;
   margin-bottom: 8px;
}

.team-item {
   background-color: #fff;
   border-radius: 0 0 4px 4px;
}

.team-content {
   padding: 32px 16px;
   text-align: center;
}

.team-position {
   font-weight: 400;
   font-size: 16px;
   line-height: 1.5;
   letter-spacing: 0.02em;
   text-align: center;
   color: #434455;
   margin-bottom: 8px;
}

.portfolio {
   padding: 120px 0;
}

.portfolio-titel {
   margin-bottom: 72px;
   text-align: center;
   font-weight: 700;
   font-size: 36px;
   line-height: 1.11111;
   letter-spacing: 0.02em;
   text-align: center;
   color: #2e2f42;
}

.portfolio-name {
   font-weight: 500;
   font-size: 20px;
   line-height: 1.2;
   letter-spacing: 0.02em;
   color: #2e2f42;
   margin-bottom: 8px;
}

.portfolio-position {
   font-weight: 400;
   font-size: 16px;
   line-height: 1.5;
   letter-spacing: 0.02em;
   color: #434455;
   margin-bottom: 8px;
}

.portfolio-list {
   display: flex;
      flex-wrap: wrap;
      column-gap: 24px;
      row-gap: 48px;
}

.portfolio-item {
   width: calc((100% - 48px) / 3);
   background: #fff;
   border-radius: 10px;
   overflow: hidden;
   text-align: center;
   box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.portfolio-content {
   border: 1px solid #e7e9fc;
   border-top: none;
   padding: 32px 16px;
   text-align: left;
}

.portfolio-content {
   border: 1px solid #e7e9fc;
   border-top: none;
   padding: 32px 16px;
   text-align: left;
}

.footer {
   padding: 100px 0;
   background: #2e2f42;
   
}

.footer-logo {
   font-family: "Raleway", sans-serif;
   width: 264px;
   height: 112px;
   font-weight: 700;
   font-size: 18px;
   line-height: 1.17;
   letter-spacing: 0.03em;
   text-transform: uppercase;
   color: #4d5ae5;
}

.footer-logo .foter-logo-part {
   color: #f4f4fd;
}

.footer-position {

   padding: 16px 0;
   font-family: "Roboto", sans-serif;
   font-weight: 400;
   width: 264px;
   height: 112px;
   font-size: 16px;
   line-height: 1.5;
   letter-spacing: 0.02em;
   color: #f4f4fd;
}